<!DOCTYPE html>
<html>
  <head>
   <title>Transfermarkt Handball</title> 
    
  </head>
  <body>
   <h1>6:0 Handball</h1>
    <img src="https://handball.henlivgot.repl.co/static/logo.png">
    <p><form action="/search" method="get">
  <input type="text" name="q" placeholder="Search...">
  <button type="submit">Search</button> </p>
       <button>News</button> <button>Scout</button> <button>Transfers</button>  <button>Competitions</button> <button>Media</button>    
  <h3>Breaking News</h3>
  <h3> Bundesliga Table</h3>
  <h3> LNH Table</h3>
  <h3> Today's Matches</h3>

</form>

  </body>
  
</html>